html,body{
    height: 100%;
}
.container{
   height: 50%;
   align-content: center;
}

.image_outer_container{
   margin-top: auto;
   margin-bottom: auto;
   border-radius: 50%;
   position: relative;
}

.image_inner_container{
   border-radius: 50%;
   padding: 5px;
}
.image_inner_container img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 5px solid white;
}

.social {
   position: absolute;
   width: 100%;
   top: 50%;
   text-align: center;
   transform: translateY(-50%);
 }
 
 .social .link {
   display: inline-block;
   vertical-align: middle;
   position: relative;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 2px dashed white;
   background-clip: content-box;
   padding: 10px;
   transition: .5s;
   color: #D7D0BE;
   margin-left: 15px;
   margin-right: 15px;
   font-size: 50px;
 }
 
 .social .link span {
   display: block;
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 .social .link.twitter {
   background-color: #00ACEE;
   color: white;
 }

 .social .link.instagram {
   background-color: rgb(235, 110, 126);
   color: white;
 }
 
 .social .link.facebook {
   background-color: #3B5998;
   color: white;
 }