<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="message"
		class="com.techchefs.myspringapp.springcore.beans.MessageBean">
		<property name="message" value="I am sleepy"></property>
	</bean>
	
	<bean id="employeeBean" class ="com.techchefs.myspringapp.springcore.beans.EmployeeBean" scope="prototype" init-method="afterPropertiesSet" destroy-method="destroy" autowire="byType">
		<property name="name" value="Kapil Dev"></property>
		<property name="id" value="1"></property>
		<!-- <property name="dept" ref="deptBean"></property> -->
	</bean>

	<bean id="deptBean" class = "com.techchefs.myspringapp.springcore.beans.DepartmentBean">
		<property name="deptId" value="20"></property>
		<property name="deptName" value="HR"></property>
	</bean>
	
	<bean id="deptBean1" class = "com.techchefs.myspringapp.springcore.beans.DepartmentBean" autowire-candidate="false" primary="true">
		<property name="deptId" value="30"></property>
		<property name="deptName" value="Sports"></property>
	</bean>
	
</beans>